{% extends 'index.html' %}
{% block dashboard %}
<div class="container my-5">
    <h2 class="text-center mb-4">Call Logs</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Call From</th>
                <th>Call To</th>
                <th>Call Status</th>
            </tr>
        </thead>
        <tbody class="logsTableBody">
        </tbody>
    </table>
</div>
<script>
    get_call_log();
</script>
{% endblock %}
